#!/bin/bash

export INPUT_LOCATION=/global/cscratch1/sd/mdelben/GPU_cori

export SDK={{nvhpc}}
export CUDA={{cuda}}
module purge
module load dgx
module load nvhpc/$SDK cuda/$CUDA openmpi/4.0.3
module load hdf5-parallel/1.10.5 fftw/3.3.9
export FFTW_DIR=`dirname "$FFTW_DIR"`
export SCALAPACKLIB="/usr/common/software/osuse15_dgx/nvhpc/{{nvhpc}}/Linux_x86_64/{{nvhpc}}/comm_libs/openmpi4/openmpi-4.0.5/lib/libscalapack.a"

#note: SDK=$(echo $CC | sed -e 's|.*nvhpc/\([^/]*\)/.*|\1|')
