#!/bin/bash

export INPUT_LOCATION=/global/cscratch1/sd/mdelben/GPU_cori

module purge
module load intel
module load craype-mic-knl
module unload darshan
module load cray-hdf5-parallel
module swap intel intel/19.0.0.117
export CRAYPE_LINK_TYPE=static
