#!/bin/bash

export INPUT_LOCATION=/global/cscratch1/sd/mdelben/GPU_cori

export SDK={{nvhpc}}
export CUDA={{cuda}}
module purge
module load cgpu
module load hpcsdk/$SDK cuda/$CUDA openmpi/4.0.3
module use /global/cscratch1/sd/yunhe/bgw_compiler_bugs/modulefiles
module load hdf5-parallel/1.12.0-cgpu fftw/3.3.8-cgpu # sets FFTW_DIR incorrectly
export FFTW_DIR=`dirname "$FFTW_DIR"`
export SCALAPACKLIB="/usr/common/software/sles15_cgpu/nvhpc/{{nvhpc}}/Linux_x86_64/{{nvhpc}}/comm_libs/openmpi4/openmpi-4.0.5/lib/libscalapack.a"

#note: SDK=$(echo $CC | sed -e 's|.*nvhpc/\([^/]*\)/.*|\1|')
