#!/bin/bash
# sets up the source code for compilation
# by creating flavor.mk and arch.mk

set -e

echo "Running setup.sh"
CWD="$PWD"
source env.sh

# compile fftw3
build_fftw() {
  [ -s /global/cscratch1/sd/$USER/fftw-3.3.9.tar.gz ] || \
     ( cd /global/cscratch1/sd/$USER \
       && wget ftp://ftp.fftw.org/pub/fftw/fftw-3.3.9.tar.gz )
  tar xzf /global/cscratch1/sd/$USER/fftw-3.3.9.tar.gz
  cd fftw-3.3.9
  ./configure --enable-openmp --prefix=$PWD
  make -j install
}

# Don't re-compile fftw.
#[ -d fftw-3.3.9 ] || ( build_fftw )
#export FFTW_DIR="$CWD/fftw-3.3.9"

cd BerkeleyGW
cp flavor_cplx.mk flavor.mk

# TODO: consider using "config/cori-gpu.nersc.openacc.mk"
cat >arch.mk <<.
# arch.mk for Cori GPU, 07/20/2021, using hpcsdk/{{nvhpc}} and cuda/{{cuda}}
# initially copied from /global/cscratch1/sd/yunhe/bgw_compiler_bugs/BerkeleyGW/arch.mk
# -rwxrwxr-x 1 yunhe yunhe 2056 Jun 28 11:32 arch.mk

COMPFLAG  = -DPGI
PARAFLAG  = -DMPI  -DOMP 
MATHFLAG  = -DUSESCALAPACK -DUNPACKED -DUSEFFTW3 -DHDF5 -DOPENACC -DOMP_TARGET   # -DCUDA  -DOPENACC
#-DCUDA
#-DUSEELPA
NVCC=nvcc 
NVCCOPT= -use_fast_math
CUDALIB=-L\$(CUDA_ROOT)/lib64  -lcufft -lcublas  -lcudart # -lcuda 
FCPP    = /usr/bin/cpp  -P -ansi  -nostdinc  -C  -E  -std=c11
F90free = mpif90 -acc -Mcuda -mp=gpu -gpu={{arch}} -Minfo=mp  #-Mcuda=lineinfo   
LINK    = mpif90 -acc -Mcuda -mp=gpu -gpu={{arch}} -Minfo=mp -llapack -lblas   
# FOPTS   = -O2  -fopenmp  -ffree-form -ffree-line-length-none -fbounds-check  -fimplicit-none  -Wall  -fcheck=all  -pedantic  -fbacktrace
#FOPTS   = -O3  -fopenmp   -march=native  -funroll-loops  -funsafe-loop-optimizations -funsafe-math-optimizations -ftree-vect-loop-version -ftree-vectorize  -ffree-form  -ffree-line-length-none
FOPTS   = -fast -Mfree  -mp -Mlarge_arrays 
FNOOPTS = \$(FOPTS)
#MOD_OPT =  -J
MOD_OPT = -module  
INCFLAG = -I
C_PARAFLAG  = -DPARA -DMPICH_IGNORE_CXX_SEEK
#CC_COMP = mpic++
#C_COMP  = mpicc
#C_LINK  = mpic++  
#C_OPTS  = -O2 -fopenmp
CC_COMP = mpiCC 
C_COMP  = mpicc 
C_LINK  = mpiCC 
C_OPTS  = -fast -mp
C_DEBUGFLAG =
REMOVE  = /bin/rm -f
FFTWLIB      = -L"$FFTW_DIR/lib" -lfftw3_omp -lfftw3 -lm
{% if arch == "cc80" %}
FFTWLIB     += /usr/common/software/pgi/19.7/linux86-64/19.7/lib/libblas.a
{% endif %}
FFTWLIB     += \$(CUDALIB) -lstdc++
FFTWINCLUDE  = "$FFTW_DIR/include"
PERFORMANCE  = 
HDF5_LDIR    =  \$(HDF5_DIR)/lib/
HDF5LIB      =  -L\$(HDF5_LDIR) -lhdf5 -lhdf5_fortran -lhdf5_hl -lhdf5_hl_fortran -lz -ldl
HDF5INCLUDE  =\$(HDF5_INCLUDE_OPTS)
.

{% if arch == "cpu" %}
cp config/cori2.nersc.gov_intel.mk arch.mk
{% endif %}
