#!/bin/bash

echo "Running build.sh"

CWD="$PWD"

source env.sh

mkdir -p build
cd build

cmake_flags=""
{% if "atomic" in compiler %}
cmake_flags="-c -DPMACC_HIP_EMULATE_SHAREDMEM_ATOMICADD_32BIT=OFF"
export HIPCC_LINK_FLAGS_APPEND="$HIPCC_LINK_FLAGS_APPEND -munsafe-fp-atomics"
{% endif %}

../picongpu/bin/pic-configure \
{%- if "rocm" in accel %}
           -b hip:$arch \
{% endif -%}
{%- if "cuda" in accel %}
           -b cuda:70 \
{% endif -%}
           $cmake_flags \
           -i "$CWD/sys" \
           ../sys

#          -c "-DCMAKE_BUILD_TYPE=RelWithDebInfo -DALPAKA_HIP_KEEP_FILES=ON -DALPAKA_CUDA_KEEP_FILES=ON" \
#cmake -DCMAKE_INSTALL_PREFIX="$CWD/sys" \
#      -DPIC_EXTENSION_PATH="$CWD/sys" \
#      -DCMAKE_BUILD_TYPE=RelWithDebInfo \
#{%- if "rocm" in accel %}
#      -DALPAKA_ACC_GPU_HIP_ENABLE=ON \
#      -DALPAKA_ACC_GPU_HIP_ONLY_MODE=ON \
#      -DGPU_TARGETS="$arch" \
#      -DALPAKA_HIP_KEEP_FILES=ON \
#{#    -DALPAKA_HIP_ARCH="$arch" #} \
#{% endif -%}
#{%- if "cuda" in accel %}
#      -DALPAKA_ACC_GPU_CUDA_ENABLE=ON \
#      -DALPAKA_ACC_GPU_CUDA_ONLY_MODE=ON \
#      -DALPAKA_CUDA_ARCH="70" \
#{% endif -%}
#      ../picongpu/include/picongpu

# make and install
nice make -j 8 install
