#!/bin/bash

echo "Running build.sh"

CWD="$PWD"

source env.sh

mkdir -p build
cd build

cmake -DCMAKE_INSTALL_PREFIX="$CWD/sys" \
      -DPIC_EXTENSION_PATH="$CWD/sys" \
      -DCMAKE_BUILD_TYPE=RelWithDebInfo \
{%- if "rocm" in accel %}
      -DALPAKA_ACC_GPU_HIP_ENABLE=ON \
      -DALPAKA_ACC_GPU_HIP_ONLY_MODE=ON \
      -DALPAKA_HIP_ARCH="906;908" \
{% endif -%}
{%- if "cuda" in accel %}
      -DALPAKA_ACC_GPU_CUDA_ENABLE=ON \
      -DALPAKA_ACC_GPU_CUDA_ONLY_MODE=ON \
      -DALPAKA_CUDA_ARCH="70" \
{% endif -%}
      ../picongpu/include/picongpu

# make and install
make -j install

