#!/bin/bash

# defined {{compiler}} {{accel}} {{mpi}}
# compiler = clang++, CC, or hipcc
# accel = rocm-4.5.0, etc.
export arch=gfx90a

# General modules #############################################################
#
module load PrgEnv-cray
module load {{mpi}}
module load git
module load cmake
module load craype-accel-amd-$arch
module load {{accel}}

module load boost/1.79.0-cxx17

# Other Software #############################################################
#
module load zlib/1.2.11
#module load c-blosc/1.21.0 adios2/2.7.1 hdf5/1.12.0
#export CMAKE_PREFIX_PATH="$OLCF_C_BLOSC_ROOT:$OLCF_ADIOS2_ROOT:$HDF5_ROOT:$CMAKE_PREFIX_PATH"

module load libpng/1.6.37 freetype/2.11.0

# Environment #################################################################
#
#export CMAKE_MODULE_PATH=$HIP_PATH/cmake:$CMAKE_MODULE_PATH
#export BOOST_ROOT=$(dirname $(which python))/../lib/boost
#export CMAKE_PREFIX_PATH=$BOOST_ROOT:$CMAKE_PREFIX_PATH
#export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$BOOST_ROOT/lib

## This must be set before running with gpu-aware MPI
export MPICH_GPU_SUPPORT_ENABLED=1

# This variable has no effect on crusher!
#export HIPCC_COMPILE_FLAGS_APPEND="$HIPCC_COMPILE_FLAGS_APPEND -I${MPICH_DIR}/include -L${MPICH_DIR}/lib -lmpi -L${CRAY_MPICH_ROOTDIR}/gtl/lib -lmpi_gtl_hsa"

export CXX={{compiler}}
#export CXXFLAGS="--rocm-path=${ROCM_PATH} -Wl,--allow-shlib-undefined"
#export CXXFLAGS="$CXXFLAGS $HIPCC_COMPILE_FLAGS_APPEND"
export HIPCC_COMPILE_FLAGS_APPEND="$HIPCC_COMPILE_FLAGS_APPEND -I${MPICH_DIR}/include"
export HIPCC_LINK_FLAGS_APPEND="$HIPCC_LINK_FLAGS_APPEND -L${MPICH_DIR}/lib -lmpi -L${CRAY_MPICH_ROOTDIR}/gtl/lib -lmpi_gtl_hsa"

#export PIC_BACKEND="hip:$arch"
#export PICSRC="{{build_dir}}/picongpu"
#export PATH=$PATH:$PICSRC/bin
export LD_LIBRARY_PATH=$CRAY_LD_LIBRARY_PATH:$LD_LIBRARY_PATH
