#!/bin/bash

set -e

echo "Running setup.sh"
CWD="$PWD"
source env.sh

if ! [ -z {{phash}} ]; then
  pushd $HOME/picongpu
  git archive {{ phash }} | tar -x -C "$CWD/picongpu" share/picongpu/benchmarks/
  popd
fi

# locate system template run dir
dir=$(find picongpu/share/picongpu -type d -name {{ problem }} | head -n1)
if [ -z $dir ]; then
    echo "Unable to find system directory {{ problem }}."
    exit 1
fi

pic-create $dir sys

