#!/bin/bash

# defined {{compiler}} {{accel}} {{mpi}}
# compiler = clang++, CC, or hipcc
# accel = rocm-4.5.0, etc.
export arch=gfx908

# General modules #############################################################
#
module reset
module load PrgEnv-cray
module load {{mpi}}
module load git
module load cmake
module load craype-accel-amd-$arch
module load {{accel}}

#module load boost/1.77.0-cxx17
module load boost/1.73.0

#module load c-blosc/1.21.0
module load cray-python
module load hdf5 # dependency of openpmd-api module (no other possible)
#module load cray-hdf5
#module load adios2/2.7.1 # dependency of openpmd-api module
#module load openpmd-api/0.13.4

#module load libpng/1.6.37

# Environment #################################################################
#
export CMAKE_MODULE_PATH=$HIP_PATH/cmake:$CMAKE_MODULE_PATH
export CMAKE_PREFIX_PATH=$BOOST_ROOT:$CMAKE_PREFIX_PATH
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$BOOST_ROOT/lib

## These must be set before running with gpu-aware MPI
export MPIR_CVAR_GPU_EAGER_DEVICE_MEM=0
export MPICH_GPU_SUPPORT_ENABLED=1
export MPICH_SMP_SINGLE_COPY_MODE=CMA

export HIPCC_COMPILE_FLAGS_APPEND="$HIPCC_COMPILE_FLAGS_APPEND -I${MPICH_DIR}/include -L${MPICH_DIR}/lib -lmpi -L${CRAY_MPICH_ROOTDIR}/gtl/lib -lmpi_gtl_hsa"

export CXX={{compiler}}
export CXXFLAGS="--rocm-path=${ROCM_PATH} -Wl,--allow-shlib-undefined"

#export PIC_BACKEND="hip:$arch"
#export PICSRC="{{build_dir}}/picongpu"
#export PATH=$PATH:$PICSRC/bin
