#!/bin/bash

set -e
echo "Started run.sh"

{% set nprocs = nx*ny*nz %}
{% set nnodes = (nprocs+5) // 6 %}

source ../env.sh

if [ -z $PROJ ]; then
    echo "Error: You must set PROJ to your project ID."
    exit 1
fi

cat >profile.sh <<.
#!/bin/bash

if [ \${OMPI_COMM_WORLD_RANK} -eq 0 ]; then
  nvprof --csv --log-file profile.csv -f --profile-api-trace none \$@
else
  \$@
fi
.
chmod +x profile.sh

cat >batch.lsf <<.
#!/bin/bash
#BSUB -q batch
#BSUB -W 00:30
#BSUB -J {{ problem }}
#BSUB -nnodes {{ nnodes }}
#BSUB -alloc_flags smt4
#BSUB -P $PROJ
#BSUB -o stdout
#BSUB -e stderr

echo "Started job on \$LSB_HOSTS"

SRUN="jsrun -n {{ nprocs }} -a1 -c7 -g1 -bpacked:7 --smpiargs=-gpu"

# run with using openPMD:
# \$SRUN ../sys/bin/picongpu -d {{nx}} {{ny}} {{nz}}  -g {{grid}} --periodic {{periodic}} \
#                            --mpiDirect -s 500 --percent 1 \
#                            --openPMD.period 30 --openPMD.file simData --openPMD.ext bp --openPMD.json @../input/etc/picongpu/adios2.json --versionOnce --currentInterpolation none

\$SRUN ../sys/bin/picongpu -d {{nx}} {{ny}} {{nz}} -g {{grid}} \
                         --periodic {{periodic}} {{runFlags}} \
                           --mpiDirect -s 500 --percent 1 \
                           --versionOnce --e_macroParticlesCount.period 50

if [ $? -eq 0 ]; then
  echo "COMPLETE"
else
  echo "ERROR"
fi

if [ {{nnodes}} -le 100 ]; then
  \$SRUN ./profile.sh \
      ../sys/bin/picongpu -d {{nx}} {{ny}} {{nz}} -g {{grid}} \
                         --periodic {{periodic}} {{runFlags}} \
                          --mpiDirect -s 100 --percent 1 >profile.log

fi
.

bsub batch.lsf
