#!/bin/bash

module unload xl # default is now gcc-8.3.1
module load {{compiler}} || :
module load {{accel}}
module load {{mpi}}

module load cmake
module load boost/1.76.0-cxx17
module load hdf5/1.10.7
module load c-blosc zfp lz4
module load zlib
module load libpng freetype

export CC=`which gcc`
export CXX=`which g++`

export PICSRC="{{build_dir}}/picongpu"
export CMAKE_PREFIX_PATH=$BOOST_ROOT:$CMAKE_PREFIX_PATH

#export PIC_BACKEND="cuda:70"
#export PICSRC="{{build_dir}}/picongpu"
#export PATH=$PATH:$PICSRC/bin
