#!/bin/bash

module load {{compiler}}
module load {{accel}}
module load {{mpi}}

module load cmake/3.18
module load boost/1.66.0
module load hdf5/1.10.4
module load c-blosc zfp lz4
module load zlib/1.2.11
module load libpng/1.6.34 freetype/2.9.1

proj=csc434
export CMAKE_MODULE_PATH=$HIP_PATH/cmake
export CC=`which gcc`
export CXX=`which g++`

export PICSRC="{{build_dir}}/picongpu"

export PATH=$PATH:$PICSRC/bin
export PATH=$PATH:$PICSRC/src/tools/bin
export PYTHONPATH=$PICSRC/lib/python:$PYTHONPATH

