#!/bin/bash

# arch.mk for Cori GPU, 0625/2021, using hpcsdk/21.5 and cuda/11.3.0
# copied from /global/cscratch1/sd/yunhe/bgw_compiler_bugs/BerkeleyGW/arch.mk
# -rwxrwxr-x 1 yunhe yunhe 2056 Jun 28 11:32 arch.mk

export INPUT_LOCATION=/global/cscratch1/sd/mdelben/GPU_cori/Si_216/WFN_file

export SDK={{nvhpc}}
export CUDA={{cuda}}
module purge
module load cgpu hpcsdk/$SDK cuda/$CUDA openmpi/4.0.3
module use /global/cscratch1/sd/yunhe/bgw_compiler_bugs/modulefiles
module load hdf5-parallel/1.12.0-cgpu fftw/3.3.8-cgpu

#note: SDK=$(echo $CC | sed -e 's|.*nvhpc/\([^/]*\)/.*|\1|')
