#!/bin/bash

set -e
echo "Started run.sh"

{% set ngpu = nnodes*8 %}

source ../env.sh

[ -s WFN.h5 ] || \
  ln -snf $INPUT_LOCATION/{{problem}}/WFN_file/WFN_out.h5 ./WFN.h5
[ -s WFNq.h5 ] || \
  ln -snf $INPUT_LOCAITON/{{problem}}/WFN_file/WFNq.h5 ./

cat >epsilon.inp <<.
epsilon_cutoff      4.0
number_bands       3000
begin qpoints
  0.0 0.0 0.05  1.0  1
end
# Comment this line if running out of memory
# os_opt_ffts 1
# Read from WFN.h5 and WFNq.h5. Only supported by Epsilon.
# dont_use_hdf5
use_wfn_hdf5

# We use pseudobands, so we can't check norms
dont_check_norms
comm_nonblocking_cyclic

mtxel_algo {{algo}}
chi_summation_algo {{algo}}
# not available until July 20, 2021
# n_ffts_per_batch {{n_ffts_per_batch}}
.

cat >batch.sh <<.
#!/bin/bash
#SBATCH --nodes={{ nnodes }}
#SBATCH --job-name={{ problem }}
#SBATCH -G {{ ngpu }} 
#SBATCH -C gpu
#SBATCH -c 80
#SBATCH -t 30:00
#SBATCH -o stdout
#SBATCH -e stderr
#SBATCH -A m3502

source ../env.sh

echo "Started job on \$SLURM_JOB_NODELIST"

export OMP_NUM_THREADS=5
srun -n {{ ngpu }} -c10 ../BerkeleyGW/bin/epsilon.cplx.x

echo "COMPLETE"
.

sbatch batch.sh
