#!/bin/bash

module use /home/groups/coegroup/share/coe/modulefiles

module unload cray-mvapich2
module load cmake/3.18.2
module load boost/1.72.0

module load {{compiler}}
module load {{accel}}
module load ucx/1.9.0/tuned/cuda/11.0
module load {{mpi}}

export CC=`which gcc`
export CXX=`which g++`

export PIC_BACKEND="cuda:70"
export PICSRC="{{build_dir}}/picongpu"

export PATH=$PATH:$PICSRC/bin
export PATH=$PATH:$PICSRC/src/tools/bin
export PYTHONPATH=$PICSRC/lib/python:$PYTHONPATH

