#!/bin/bash

module use /home/groups/coegroup/share/coe/modulefiles

module unload cray-mvapich2
module load cmake/3.18.2
module load {{compiler}}
module load {{accel}}
module load {{mpi}}

export CMAKE_MODULE_PATH=$HIP_PATH/cmake
export CC=`which clang`
export CXX=`which clang++`

#export PIC_BACKEND="hip:906;908"
export PICSRC="{{build_dir}}/picongpu"

export PATH=$PATH:$PICSRC/bin
export PATH=$PATH:$PICSRC/src/tools/bin
export PYTHONPATH=$PICSRC/lib/python:$PYTHONPATH

