#!/bin/bash

module load {{compiler}}
module load {{accel}}
module load {{mpi}}

export PIC_BACKEND="hip:906;908"
export PATH=$PATH:{{buildID}}/bin
export PYTHONPATH={{buildID}}/lib/python:$PYTHONPATH


