#!/bin/bash

module purge

module load {{compiler}}
module load {{accel}}
module load {{mpi}}

module load DefApps/alt

module load git/2.31.1
module load cmake/3.20.2
module load craype-accel-amd-gfx908

export HIP_PATH=$ROCM_PATH/hip # has to be set in order to be able to compile

module load boost/1.73.0

module load c-blosc/1.21.0
module load cray-python/3.8.5.0
module load cray-hdf5 # dependency of openpmd-api module
module load adios2/2.7.1 # dependency of openpmd-api module
module load openpmd-api/0.13.2

module load libpng/1.6.37

export CMAKE_MODULE_PATH=$HIP_PATH/cmake

export PICSRC="{{build_dir}}/picongpu"

export PATH=$PATH:$PICSRC
export PATH=$PATH:$PICSRC/bin
export PATH=$PATH:$PICSRC/src/tools/bin

export PYTHONPATH=$PICSRC/lib/python:$PYTHONPATH

export CMAKE_MODULE_PATH=$HIP_PATH/cmake:$CMAKE_MODULE_PATH
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$BOOST_ROOT/lib
export CMAKE_PREFIX_PATH=$BOOST_ROOT:$CMAKE_PREFIX_PATH
export HIPCC_COMPILE_FLAGS_APPEND="$HIPCC_COMPILE_FLAGS_APPEND -I${MPICH_DIR}/include -L${MPICH_DIR}/lib -lmpi -L/opt/cray/pe/mpich/8.1.4/gtl/lib -lmpi_gtl_hsa"

export TBG_SUBMIT="sbatch"
