# List of configuration options to build and run.

# location of all output files
work: "../../nightly_tests"

# configs specific to our build/run of picongpu:

    # note: machine and commit are always present as first 2 items in buildvars
    #       Inside build scripts, buildID is also accessible.
buildvars: ["compiler", "accel", "mpi", "problem", "phash"]

    # note: buildvars are always present as the first elements of runvars
    #       Inside run scripts, buildID and runID are also accessible.
runvars: ["nx", "ny", "nz", "grid", "periodic", "runFlags"]

resultvars: ["init", "simulation", "total", "particles", "MoveAndMark", "ComputeCurrent", "ShiftParticles"]

machines:
  summit:
    repo: "../../picongpu"
    configs:
      - build: ["gcc/9.3.0", "cuda/11.0.3", "spectrum-mpi/10.4.0.3-20210112", "SPEC", ""]
        runs:
         - [2, 6, 4, "512 1536 1024", "1 1 1", ""]
      - build: ["gcc/9.3.0", "cuda/11.0.3", "spectrum-mpi/10.4.0.3-20210112", "PaperThermal", "69685b4b"]
        runs:
         - [1, 1, 1, "192 192 192", "1 1 1", ""]
      - build: ["gcc/9.3.0", "cuda/11.0.3", "spectrum-mpi/10.4.0.3-20210112", "Thermal", ""]
        runs:
         - [1, 1, 1, "192 192 192", "1 1 1", ""]
      - build: ["gcc/9.3.0", "cuda/11.0.3", "spectrum-mpi/10.4.0.3-20210112", "TWEAC*thms", "9b2867"]
        runs:
         - [2, 6, 4, "480 1632 896", "1 1 1", ""]
  spock:
    repo: "../../picongpu"
    configs:
      - build: ["hipcc", "rocm/4.5.0", "cray-mpich", "SPEC", ""]
        runs:
         - [2, 6, 4, "512 1536 1024", "1 1 1", ""]
      - build: ["hipcc", "rocm/4.5.0", "cray-mpich", "Thermal", ""]
        runs:
         - [1, 1, 1, "192 192 192", "1 1 1", ""]
      - build: ["hipcc", "rocm/4.5.0", "cray-mpich", "TWEAC*thms", "9b2867"]
        runs:
         - [2, 6, 4, "480 1632 896", "1 1 1", ""]
  crusher:
    repo: "../../picongpu"
    configs:
      - build: ["hipcc", "rocm/5.1.0", "cray-mpich/8.1.16", "SPEC", ""]
        runs:
         - [2, 6, 4, "512 1536 1024", "1 1 1", ""]
         - [2, 6, 4, "512 1536 1024", "1 1 1", "--fieldBackground.duplicateFields"]
      - build: ["hipcc", "rocm/5.1.0", "cray-mpich/8.1.16", "Thermal", ""]
        runs:
         - [1, 1, 1, "192 192 192", "1 1 1", ""]
         - [1, 1, 1, "192 192 192", "1 1 1", "--fieldBackground.duplicateFields"]
      # -> this one takes ~20 minutes to compile!
      - build: ["hipcc", "rocm/5.1.0", "cray-mpich/8.1.16", "TWEAC*thms", "69685b4b"]
        runs:
         - [2, 6, 4, "480 1632 896", "1 1 1", ""]
         - [2, 6, 4, "480 1632 896", "1 1 1", "--fieldBackground.duplicateFields"]
      - build: ["hipcc", "rocm/4.5.0", "cray-mpich/8.1.12", "SPEC", ""]
        runs:
         - [2, 6, 4, "512 1536 1024", "1 1 1", ""]
         - [2, 6, 4, "512 1536 1024", "1 1 1", "--fieldBackground.duplicateFields"]
      - build: ["hipcc", "rocm/4.5.0", "cray-mpich/8.1.12", "Thermal", ""]
        runs:
         - [1, 1, 1, "192 192 192", "1 1 1", ""]
         - [1, 1, 1, "192 192 192", "1 1 1", "--fieldBackground.duplicateFields"]
      - build: ["hipcc", "rocm/4.5.0", "cray-mpich/8.1.12", "TWEAC*thms", "9b2867"]
        runs:
         - [2, 6, 4, "480 1632 896", "1 1 1", ""]
         - [2, 6, 4, "480 1632 896", "1 1 1", "--fieldBackground.duplicateFields"]
