# List of configuration options to build and run.

# location of all output files
work: "../../nightly_tests"

# configs specific to our build/run of picongpu:

    # note: machine and commit are always present as first 2 items in buildvars
    #       Inside build scripts, buildID is also accessible.
buildvars: ["compiler", "accel", "mpi", "problem", "phash"]

    # note: buildvars are always present as the first elements of runvars
    #       Inside run scripts, buildID and runID are also accessible.
runvars: ["nx", "ny", "nz", "grid", "periodic"]

resultvars: ["init", "simulation", "total"]

machines:
  summit:
    repo: "../../picongpu"
    configs:
      - build: ['gcc/8.3.1', 'cuda/11.0.3', 'spectrum-mpi/10.4.0.3-20210112', 'LaserWakefield', '']
        runs: # note: {% if nprocs > 0 %} -m --windowMovePoint 0.9 {% endif %}
          - [1, 1, 1, "192 1024 12", "0 0 1"]
          - [1, 4, 1, "128 2048 128", "0 0 0"]
          - [2, 4, 1, "192 2048 160", "0 0 0"]
          - [2, 2, 2, "192 2048 160", "0 0 0"]
          - [2, 4, 2, "192 1024 192", "0 0 0"]
          - [4, 4, 2, "256 1024 256", "0 0 0"]
      - build: ['gcc/8.3.1', 'cuda/11.0.3', 'spectrum-mpi/10.4.0.3-20210112', 'SPEC', '']
        runs:
          - [1, 1, 1, "128 128 128", "1 1 1"]
          - [2, 2, 2, "256 256 256", "1 1 1"]
          - [2, 2, 1, "256 256 256", "1 1 1"]
          - [2, 4, 1, "256 256 256", "1 1 1"]

     #- build: ['gcc/8.3.1', 'cuda/11.0.3', 'spectrum-mpi/10.4.0.3-20210112', 'TWEAC*run', '639375ed10']
     #  runs:
     #    - [1, 3, 2,  "240   816  448", "1 1 1"]
     #    - [3, 9, 6,  "720  2448 1344", "1 1 1"]
     #   #- [2, 30,  7,  "480  8160 1568", "1 1 1"]
     #   #- [6, 64, 16, "1440 17408 3584", "1 1 1"]
      - build: ['gcc/8.3.1', 'cuda/11.0.3', 'spectrum-mpi/10.4.0.3-20210112', 'TWEAC*thms', '639375ed10']
        runs:
          - [1, 3, 2,  "240   816  448", "1 1 1"]
          - [3, 9, 6,  "720  2448 1344", "1 1 1"]
        #- [2, 30,  7,  "480  8160 1568", "1 1 1"]
  spock:
    repo: "../../picongpu"
    configs:
      - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'LaserWakefield', '']
        runs: # note: {% if nprocs > 0 %} -m --windowMovePoint 0.9 {% endif %}
          - [1, 1, 1, "192 1024  12", "0 0 1"]
          - [1, 4, 1, "128 2048 128", "0 0 0"]
          - [2, 4, 1, "192 2048 160", "0 0 0"]
          - [2, 2, 2, "192 2048 160", "0 0 0"]
          - [2, 4, 2, "192 1024 192", "0 0 0"]
          - [4, 4, 2, "256 1024 256", "0 0 0"]
      - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'SPEC', '']
        runs:
          - [1, 1, 1, "128 128 128", "1 1 1"]
          - [2, 2, 2, "256 256 256", "1 1 1"]
          - [2, 2, 1, "256 256 256", "1 1 1"]
          - [2, 4, 1, "256 256 256", "1 1 1"]
     #- build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'TWEAC*run', '639375ed10']
     #  runs:
     #    - [1, 2, 2, "240  544 448", "1 1 1"]
     #    #- [2, 4, 2, "480 1088 448", "1 1 1"]
     #- build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'TWEAC*thms', '639375ed10']
     #  runs:
     #    - [1, 2, 2, "240  544 448", "1 1 1"]
     #    #- [2, 4, 2, "480 1088 448", "1 1 1"]
  crusher:
    repo: "../../picongpu"
    configs:
    # - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'LaserWakefield', '']
    #   runs: # note: {% if nprocs > 0 %} -m --windowMovePoint 0.9 {% endif %}
    #     - [1, 1, 1, "192 1024  12", "0 0 1"]
    #     - [2, 4, 1, "192 2048 160", "0 0 0"]
    #     - [2, 2, 2, "192 2048 160", "0 0 0"]
    #     - [2, 4, 2, "192 1024 192", "0 0 0"]
    #     - [4, 4, 2, "256 1024 256", "0 0 0"]
      - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'SPEC', '']
        runs:
         #- [1, 1, 1, "128 128 128", "1 1 1"]
          - [2, 2, 2, "256 256 256", "1 1 1"]
         #- [2, 2, 1, "256 256 256", "1 1 1"]
         #- [2, 4, 1, "256 256 256", "1 1 1"]
          - [2, 2, 2, "512 512 512", "1 1 1"]
          - [2, 4, 2, "512 1024 512", "1 1 1"]
     #- build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'TWEAC*run', '639375ed10']
     #  runs:
     #    - [1, 2, 2, "240  544 448", "1 1 1"]
     #    #- [2, 4, 2, "480 1088 448", "1 1 1"]
      - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'TWEAC*thms', '639375ed10']
        runs:
        #- [1, 2, 2, "240  544 448", "1 1 1"]
         - [1, 4, 2, "240 1088 448", "1 1 1"]
         - [2, 4, 2, "480 1088 448", "1 1 1"]
