# List of configuration options to build and run.

# location of all output files
work: "../../nightly_tests"

# configs specific to our build/run of picongpu:

    # note: machine and commit are always present as first 2 items in buildvars
    #       Inside build scripts, buildID is also accessible.
buildvars: ["compiler", "accel", "mpi", "problem", "phash"]

    # note: buildvars are always present as the first elements of runvars
    #       Inside run scripts, buildID and runID are also accessible.
runvars: ["nx", "ny", "nz", "grid", "periodic"]

resultvars: ["init", "simulation", "total"]

machines:
  summit:
    repo: "../../picongpu"
    configs:
      - build: ['gcc/8.3.1', 'cuda/11.0.3', 'spectrum-mpi/10.4.0.3-20210112', 'SPEC', '']
        runs:
         - [1, 4, 2, "256  1024  256", "1 1 1"]
         - [2, 4, 2, "512  1024  256", "1 1 1"]
         - [2, 4, 4, "512  1024  512", "1 1 1"]
         - [2, 8, 4, "512  2048  512", "1 1 1"]
         - [2, 8, 8, "512  2048 1024", "1 1 1"]
         - [4, 8, 8, "1024 2048 1024", "1 1 1"]
         - [4,16, 8, "1024 4096 1024", "1 1 1"]
      - build: ['gcc/8.3.1', 'cuda/11.0.3', 'spectrum-mpi/10.4.0.3-20210112', 'TWEAC*thms', '639375ed10']
        runs:
         - [1,  3, 2, "240  816  448", "1 1 1"]
         - [3,  4, 2, "720 1088  448", "1 1 1"]
         - [3,  4, 4, "720 1088  896", "1 1 1"]
         - [3,  8, 4, "720 2176  896", "1 1 1"]
         - [3,  9, 6, "720 2448 1344", "1 1 1"]
         - [4,  8, 9, "960 2176 2016", "1 1 1"]
         - [4, 16, 9, "960 4352 2016", "1 1 1"]
  spock:
    repo: "../../picongpu"
    configs:
      - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'SPEC', '']
        runs:
         - [1, 4, 2, "256  1024  256", "1 1 1"]
         - [2, 4, 2, "512  1024  256", "1 1 1"]
         - [2, 4, 4, "512  1024  512", "1 1 1"]
         - [2, 8, 4, "512  2048  512", "1 1 1"]
         - [2, 8, 8, "512  2048 1024", "1 1 1"]
         - [4, 8, 8, "1024 2048 1024", "1 1 1"]
         - [4,16, 8, "1024 4096 1024", "1 1 1"]
      - build: ['hipcc', 'rocm/4.5.0', 'cray-mpich', 'TWEAC*thms', '639375ed10']
        runs:
         - [1, 4, 2, "240 1088 448", "1 1 1"]
         - [2, 4, 2, "480 1088 448", "1 1 1"]
         - [2, 4, 4, "480 1088 896", "1 1 1"]
         - [2, 8, 4, "480 2176 896", "1 1 1"]
         - [2, 8, 8, "480 2176 1792", "1 1 1"]
         - [4, 8, 8, "960 2176 1792", "1 1 1"]
         - [4,16, 8, "960 4352 1792", "1 1 1"]
  crusher:
    repo: "../../picongpu"
    configs:
      - build: ['hipcc', 'rocm/4.5.2', 'cray-mpich', 'SPEC', '']
        runs:
         - [1, 4, 2, "256  1024  256", "1 1 1"]
         - [2, 4, 2, "512  1024  256", "1 1 1"]
         - [2, 4, 4, "512  1024  512", "1 1 1"]
         - [2, 8, 4, "512  2048  512", "1 1 1"]
         - [2, 8, 8, "512  2048 1024", "1 1 1"]
         - [4, 8, 8, "1024 2048 1024", "1 1 1"]
         - [4,16, 8, "1024 4096 1024", "1 1 1"]
      - build: ['hipcc', 'rocm/4.5.2', 'cray-mpich', 'TWEAC*thms', '639375ed10']
        runs:
         - [1, 4, 2, "240 1088 448", "1 1 1"]
         - [2, 4, 2, "480 1088 448", "1 1 1"]
         - [2, 4, 4, "480 1088 896", "1 1 1"]
         - [2, 8, 4, "480 2176 896", "1 1 1"]
         - [2, 8, 8, "480 2176 1792", "1 1 1"]
         - [4, 8, 8, "960 2176 1792", "1 1 1"]
         - [4,16, 8, "960 4352 1792", "1 1 1"]
